# .NET
backend/bin/
backend/obj/
*.user
*.suo
*.userprefs
*.csproj.user
[Dd]ebug/
[Rr]elease/
*.DotSettings.user

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# SQLite
*.db
backend/seatplan.db
*.db-wal
*.db-shm

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vs/
.vscode/
.idea/
*.sln.docstates

backend/Data/seed-data.json